# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

datadir = /mysql/data/
port = 3306
socket = /tmp/mysql.sock #在编译mysql时配置
# 设置
#避免mysql对外部的连接进行DNS解析
skip-name-resolve
#服务器端使用编码
character-set-server=utf8mb4
# 错误日志
log_error = /var/log/mysql/log.err
#log_warnings的值为1，表示警告信息一并记录到错误日志中。
# log_warnings的值大于1，表示”失败的连接”的信息和创建新连接时”拒绝访问”类的错误信息也会被记录到错误日志中。
log_warnings = 2

#log_output不止控制查询日志的输出，慢查询日志的输出也是由此参数进行控制。
log_output=FILE
general_log = ON
general_log_file = /var/log/mysql/general.log


# ：表示是否开启慢查询日志
slow_query_log=ON
# ：当使用文件存储慢查询日志时(log_output设置为”FILE“或者”FILE,TABLE“时)，指定慢查询日志存储于哪个日志文件中
slow_query_log_file=/var/log/mysql/slow_query.log
#：表示”多长时间的查询”被认定为”慢查询”，默认值为10秒
long_query_time=2
# ：表示如果运行的sql语句没有使用到索引，是否也被当做慢查询语句记录到慢查询日志中，OFF表示不记录，ON表示记录。
log_queries_not_using_indexes=ON


